DIR_API_HANDLER=/Users/pranav/workspace/octo/new_host/apihandler
DIR_API_CONSUMER=/Users/pranav/workspace/octo/new_host/apiconsumer
DIR_RECURRING_JOBS=/Users/pranav/workspace/octo/enterprise/recurring_jobs
DIR_WS_NEWSFEED=/Users/pranav/workspace/octo/enterprise/webservices/newsfeed-ws
DIR_WS_ANALYTICS=/Users/pranav/workspace/octo/enterprise/webservices/analytics_ws
DIR_DASHBOARD_INTERNAL=/Users/pranav/workspace/octo/new_host/internal-dashboard
DIR_DASHBOARD_EXTERNAL=/Users/pranav/workspace/octo/enterprise/external_dashboard
